<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-googleLogin" version="0.0.1">
<name>googleLogin</name>

<description>Use your Google account to authenticate with the app.</description>
<author>jimijings11 thanks to Eddy Verbruggen</author>
<license>MIT</license>
<keywords>Google, Google SignIn, GoogleSignIn, Google Login, Login, OAuth, Identity, Authentication</keywords>
<repo>https://github.com/jimijings11/cordova-plugin-googleLogin.git</repo>
<issue>https://github.com/jimijings11/cordova-plugin-googleLogin/issues</issue>

<engines>
    <engine name="cordova" version=">=7.1.0"/>
    <engine name="cordova-android" version=">=6.3.0"/>
</engines>

   <js-module name="googleLogin" src="www/googleLogin.js">
      <clobbers target="cordova.plugins.googleLogin" />
   </js-module>
     <!-- android -->
   <platform name="android">
    <framework src="com.google.android.gms:play-services-auth:$PLAY_SERVICES_VERSION" />
    <framework src="com.google.android.gms:play-services-identity:$PLAY_SERVICES_VERSION" />

      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="googleLogin">
            <param name="android-package" value="src/nl.xservices.plugins.googleLogin" />
         </feature>
         <access origin="https://accounts.google.com/*" />
      </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.GET_ACCOUNTS" />
      <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    </config-file>
    <source-file src="src/android/googleLogin.java" target-dir="src/nl.xservices.plugins" />
   </platform>


   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="googleLogin">
            <param name="ios-package" value="googleLogin" />
         </feature>
        <access origin="https://accounts.google.com/*" />
      </config-file>
      <header-file src="src/ios/googleLogin.h"/>
      <source-file src="src/ios/googleLogin.m" />
      <preference name="REVERSED_CLIENT_ID" />

          <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>REVERSED_CLIENT_ID</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>$REVERSED_CLIENT_ID</string>
            </array>
        </dict>
      </array>
    </config-file>

    <config-file parent="keychain-access-groups" target="*/Entitlements-Debug.plist">
      <array>
        <string>$(AppIdentifierPrefix)$(PRODUCT_BUNDLE_IDENTIFIER)</string>
      </array>
    </config-file>
    <config-file parent="keychain-access-groups" target="*/Entitlements-Release.plist">
      <array>
        <string>$(AppIdentifierPrefix)$(PRODUCT_BUNDLE_IDENTIFIER)</string>
      </array>
    </config-file>

    <!-- System frameworks -->
    <framework src="AddressBook.framework" weak="true" />
    <framework src="CoreText.framework" weak="true" />
    <framework src="SafariServices.framework" weak="true" />
    <framework src="Security.framework" weak="true" />
    <framework src="SystemConfiguration.framework" weak="true" />
    <framework src="libz.tbd" weak="true" />
    <framework src="libz.dylib" weak="true" />

    <!-- Google frameworks -->
    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
      </config>
      <pods use-frameworks="true">
        <pod name="GoogleSignIn" spec="~> 5.0.2"/>
        <pod name="GoogleUtilities" spec="~> 6.5.1"/>
      </pods>
    </podspec>

		<hook type="after_plugin_install" src="hooks/ios/prerequisites.js"/>
   </platform>
</plugin>